<nav class="navbar navbar-expand-lg navbar-dark  sticky-top  ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home" routerLinkActive="active" > 
      <img src="https://drive.google.com/uc?id=12QWLtKjh7qm7eiJ1On1dnEwIglP1Qsy8" alt="logo"> 
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ">
           <a class="nav-link text-center " routerLink="home" routerLinkActive="active" >Acceuil </a>
        </li>
        <li class="nav-item text-center " >
           <a class="nav-link " routerLink="year1" routerLinkActive="active" >1ère Année</a>
        </li>
        <li class="nav-item text-center">
           <a class="nav-link " routerLink="year2" routerLinkActive="active"  >2ème Année</a>
        </li>
        <li class="nav-item text-center">
           <a class="nav-link " routerLink="year3" routerLinkActive="active" >3ème Année</a>
        </li>
        <li class="nav-item text-center">
           <a class="nav-link" routerLink="books" routerLinkActive="active">Livres </a>
        </li>
        <li class="nav-item text-center">
           <a class="nav-link" routerLink="competitions" routerLinkActive="active">Concours </a>
        </li>
     </ul>
     <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Rechercher</button>
    </form>
   </div>
  </div>
</nav>  
