<div id="carouselId" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item animate__animated  animate__flash active">
        <img [src]="carousel1" style="opacity: .5 " class="img-fluid d-block" alt="First slide">
          <div class="carousel-caption   d-md-block" >
              <h1> Concours Masters <span></span> </h1>
              <h1> et Masters Spécialisé<span></span> </h1>
              <h1> Maroc<span></span> </h1>
              <a href="https://www.supmaroc.com/category/master/" target="_blank" type="button" class="cat animate__animated animate__backInUp">aller à</a>
          </div>
      </div>
      <div class="carousel-item animate__animated  animate__flash">
        <img [src]="carousel2" style="opacity: .3 " class="img-fluid" alt="Second slide">
          <div class="carousel-caption  d-md-block "  >
            <h1 >Concours des écoles  <span></span> </h1>
            <h1 > d'ingénieurs <span></span> </h1>
            <h1 >au Maroc<span></span> </h1>
            <a href="https://www.supmaroc.com/category/ecole-dingenieurs/" target="_blank" type="button" class="cat animate__animated animate__backInUp">aller à</a>
          </div>
      </div>
      <div class="carousel-item animate__animated  animate__flash">
        <img [src]="carousel3" style="opacity: .3 " class="img-fluid" alt="Third slide">
          <div class="carousel-caption  d-md-block ">
            <h1 >Etude  <span></span> </h1>
            <h1 > à l’étranger <span></span> </h1>
            <a href="https://www.supmaroc.com/category/etude-etranger/" target="_blank" type="button" class="cat animate__animated animate__backInUp">aller à</a>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> 