<div class="container-fluid " style="background-color:#ffffff;">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-9">
           <hr class="my-2">
           <h1 class="display-4" style="text-align: center;">Votre Guide:</h1>
           <hr class="my-2">
           <p class="lead text-justify" >
            Je suis Jalal ZAIRI, élève ingénieur en développement des services numériques à L'institut National des Postes et Télécommunications (INPT), j'ai obtenu ma licence en Sciences Mathématiques et Applications (SMA) en 2019 à l'Université Sidi Mohamed Ben Abdellah. Je vous aiderai à apprendre le programme de la filière SMA de manière efficace, en effet je partagerai avec vous  mon expérience et mes connaissances humble.
           </p>
           <img [src]="logo" alt="">
      </div>
      <div class="col-xs-12 col-md-6 col-lg-3 ">
        <img  [src]="instructorImage" width="700px"  class="img-fluid mx-auto d-block my-photo" alt="">
       </div>
    </div>
</div>